[submodule "external/catch2"]
	path = test/external/catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/indicators"]
	path = external/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "external/tomlplusplus"]
	path = flowexplorer/external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "external/hdf5"]
	path = external/hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "doc/external/doxygen-awesome-css"]
	path = doc/external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/netcdf-c"]
	path = external/netcdf-c
	url = https://github.com/Unidata/netcdf-c.git
[submodule "external/netcdf-cxx4"]
	path = external/netcdf-cxx4
	url = https://github.com/Unidata/netcdf-cxx4.git
